#下面是我的gitignore文件的内容  
#忽略gitignore文件  
.gitignore  
#忽略后缀名为.o和.a的文件  
*.[oa]
frameworks/runtime-src/proj.win32/Debug.win32
frameworks/cocos2d-x/cocos/2d/Debug.win32
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/bullet/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32/
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/EatMe.opensdf
frameworks/runtime-src/proj.win32/EatMe.sdf
frameworks/runtime-src/proj.win32/EatMe.v12.suo
simulator/
frameworks/runtime-src/proj.android/bin
frameworks/runtime-src/proj.android/gen
frameworks/runtime-src/proj.android/obj
frameworks/runtime-src/proj.android/libs
